#/*
# * APM - Android Package Manager
# *
# * RedHead Industries - Technologies Branch
# * Copyright (C) 2025 RedHead Industries
# *
# * File: init.amsd.rc
# * Purpose: Provision the /ams hierarchy and launch amsd during init.
# * Last Modified: December 4th, 2025. - 09:07 AM Eastern Time
# * Author: Matthew DaLuz - RedHead Founder
# *
# * APM is free software: you can redistribute it and/or modify
# * it under the terms of the GNU General Public License as published by
# * the Free Software Foundation, either version 3 of the License, or
# * (at your option) any later version.
# *
# * APM is distributed in the hope that it will be useful,
# * but WITHOUT ANY WARRANTY; without even the implied warranty of
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# * GNU General Public License for more details.
# *
# * You should have received a copy of the GNU General Public License
# * along with APM. If not, see <https://www.gnu.org/licenses/>.
# *
# */

# AMSD init script - provisions /data/ams hierarchy and launches amsd early

on post-fs-data
    mkdir /data/ams 0755 root root
    mkdir /data/ams/modules 0755 root root
    mkdir /data/ams/logs 0755 root root
    mkdir /data/ams/.runtime 0700 root root
    mkdir /data/ams/.runtime/upper 0700 root root
    mkdir /data/ams/.runtime/work 0700 root root
    mkdir /data/ams/.runtime/base 0700 root root
    start amsd

service amsd /system/bin/amsd
    class core
    user root
    group root system
    seclabel u:r:su:s0
    socket amsd stream 0666 root root
    disabled
    oneshot
